@use '../abstract' as *;

/* ---------------------------------------------------------------------------------------------- */

.clickable {
	cursor: pointer;
}

.container {
	padding: 1rem;
	width: 960px;
}

.hidden {
	display: none;
}

.invisible {
	opacity: 0;
}

.no-wrap {
	white-space: nowrap;
}
