@use '../abstract' as *;
@use '../base/typography' as *;

/* ---------------------------------------------------------------------------------------------- */

.percentage-change {
	@include font-medium;
	@include text-caption;
	align-items: center;
	background-color: transparent;
	color: $color-state-error;
	margin-left: -0.5rem;
	display: flex;
	padding: 0;

	&.--positive {
		color: $color-state-success;
	}

	&.--boxed {
		background-color: $color-state-error;
		border-radius: $border-radius;
		color: $color-white;
		margin-left: 0;
		padding: 0 0.5rem 0 0.25rem;

		&.--positive {
			background-color: $color-state-success;
		}
	}

	&__icon {
		color: currentColor;
	}
}
